/* --Navbar dash board-- */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,200&family=Raleway:ital,wght@0,200;0,400;0,500;0,600;1,300&display=swap');


.expert-container{
    width: 100%;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.expert-search input{
    width: 600px;
    padding: 8px 10px;
    border: 1px solid #ccc;
   outline: none;
   border-radius: 5px;
   font-size: 16px;
   margin-top: 50px;
}
.expert-search input:focus{
    width: 600px;
    padding: 8px 10px;
    border: 1px solid #0580fc;
}

.expert-btn{
    margin-left: 5px;
}

.expert-btn button{
   border: 1px solid #ccc;
   outline: none;
   border-radius: 5px;
   padding: 8px 20px;
   margin-top: 50px;
}
.expert-btn button:hover{
    box-shadow: rgba(136, 165, 191, 0.48) 0px 5px 15px;
    color: #0580fc;
    border: 1px solid #0580fc;
 }



 @media screen and (max-width:868px) {
    .expert-search input{
        width: 280px;
        padding: 8px 10px;
        border: 1px solid #ccc;
       outline: none;
       border-radius: 5px;
       font-size: 16px;
    }
    .expert-search input:focus{
        width: 280px;
        padding: 8px 10px;
        border: 1px solid #0580fc;
    }
 }

 .expert{
    background: #f6f8f9;
 }


 .expert-content{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.expert-list{
    position: relative;
    width: 260px;
    height: 300px;
    background-color: #fff;
    margin: 80px 0;
    border-radius: 15px;
    box-shadow: rgba(136, 165, 191, 0.48) 0px 2px 4px 0px, rgba(255, 255, 255, 0.8) 0px 2px 16px 0px;
    z-index: 2;
}

.expert-list:hover{
    cursor: pointer;
    box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px, rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px;
 
}

.expert-image{
    position: relative;
    margin: 20px;
    z-index: 20;
}

.expert-image img {
    border-radius: 50%;
    box-shadow: rgba(0, 0, 0, 0.09) 0px 3px 12px;
    border: 3px solid #0580fc;
}

.expert-name-item h3{
    font-size: 20px;
}
.expert-special-item span{
    font-size: 16px;
}
.expert-special-item{
    margin-bottom: 20px;
}

.overlay {
    position: absolute;
    left: 0;
    width: 100%;
    height: 50%;
    opacity: 1;
    border-radius: 10px;
}
