.card {
  text-align: start;
  background-color: #fcfcfd;
  box-shadow: rgba(136, 165, 191, 0.48) 0px 1px 4px;
  background-image: url("/images/process_card_background.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  height: 100%;
  &:hover {
    box-shadow: rgba(136, 165, 191, 0.48) 6px 2px 16px 0px,
      rgba(255, 255, 255, 0.8) -6px -2px 16px 0px;
    cursor: pointer;
  }

  * {
    display: flex;
    flex-flow: column;
  }
}
