.register {
  &__wrapper {
    width: 100%;
    height: 100vh;
    background-color: #f6f5f7;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    .button_back {
      z-index: 999;
      position: fixed;
      top: 8px;
      left: 45px;
      display: flex;
      align-items: center;

      i {
        font-size: 24px;
      }

      span {
        font-weight: 500;
      }

      &:hover {
        cursor: pointer;
        color: blue;
      }
    }

    background: url('https://vj-digital.com/assets/frontend/images/bg/abs-bg5.png') no-repeat;

    h1 {
      font-weight: bold;
      margin: 0;
      text-align: center;
    }

    h2 {
      text-align: center;
    }

    p {
      font-size: 14px;
      font-weight: 100;
      line-height: 20px;
      letter-spacing: 0.5px;
      margin: 20px 0 30px;
      padding: 0 20px;
    }

    span {
      font-size: 16px;
    }

    a {
      color: #333;
      font-size: 14px;
      text-decoration: none;
      margin: 15px 0;
    }

    button {
      border-radius: 10px;
      border: none;
      background-color: #ff4b2b;
      color: #ffffff;
      font-size: 14px;
      font-weight: bold;
      padding: 12px 45px;
      letter-spacing: 1px;
      text-transform: uppercase;
      transition: transform 80ms ease-in;
      cursor: pointer;

      &:hover {
        color: #ffffff;
        box-shadow: rgba(19, 164, 248, 0.12) 0px 2px 4px 0px,
          rgba(22, 189, 235, 0.32) 0px 2px 16px 0px;
      }

      &:active {
        transform: scale(0.95);
      }

      &:focus {
        outline: none;
      }

      &.ghost {
        background-color: #fff;
        color: #ff416c;
        border-color: #ff4b2b;
      }
    }

    .sign_in_form {
      background-color: #ffffff;
      display: flex;
      justify-content: center;
      flex-direction: column;
      // padding: 0 50px 0px;
      padding: 100px 50px 0px;
      height: 100%;
    }

    input {
      padding: 10px 15px;
      margin: 8px 0;
      width: 100%;
      border-radius: 8px;
      box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px,
        rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
      border: none;

      &:focus {
        outline: none;
        box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
        border: 0.3px solid #618af1;
      }
    }

    .container {
      background-color: #fff;
      border-radius: 10px;
      box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25),
        0 10px 10px rgba(0, 0, 0, 0.22);
      position: relative;
      overflow-y: hidden;
      width: 800px;
      max-width: 100%;
      min-height: 97%;

      @media only screen and (max-width: 600px) {
        min-height: 100%;
        border-radius: 0;

        form {
          padding: 10px;
        }

        .sign_in_form {
          padding: 70px 10px 0px;
        }

        .sign_up_form {
          padding: 70px 10px 0px;
        }

        .overlay_panel {
          padding: 10px;
        }
      }

      @media only screen and (min-width: 600px) and (max-width: 1024px) {
        min-height: 90%;
        border-radius: 15px;
      }

      @media only screen and (min-width: 1024px) and (max-width: 1280px) {
        min-height: 100%;
        min-width: 100%;
        border-radius: 0;

        .sign_up_form {
          overflow-y: auto;
          padding-top: 200px;
        }
      }

      &.right_panel_active {
        .sign_in_container {
          transform: translateX(100%);
        }

        .sign_up_container {
          transform: translateX(100%);
          opacity: 1;
          z-index: 5;
          animation: show 0.6s;
        }

        .overlay {
          transform: translateX(50%);
        }

        .overlay_container {
          transform: translateX(-100%);
        }

        .overlay_left {
          transform: translateX(0);
        }

        .overlay_right {
          transform: translateX(20%);
        }
      }
    }

    .form_container {
      position: absolute;
      top: 0;
      height: 100%;
      transition: all 0.6s ease-in-out;
    }

    .sign_in_container {
      left: 0;
      width: 50%;
      height: 75%;
      z-index: 2;
    }

    .sign_up_container {
      left: 0;
      width: 50%;
      opacity: 0;
      height: 80%;
      z-index: 1;
    }

    @keyframes show {

      0%,
      49.99% {
        opacity: 0;
        z-index: 1;
      }

      50%,
      100% {
        opacity: 1;
        z-index: 5;
      }
    }

    .overlay_container {
      position: absolute;
      top: 0;
      left: 50%;
      width: 50%;
      height: 100%;
      overflow: hidden;
      transition: transform 0.6s ease-in-out;
      z-index: 100;
    }

    .overlay {
      background: #ff416c;
      background: -webkit-linear-gradient(to right, #ff4b2b, #ff416c);
      background: linear-gradient(to right, #ff4b2b, #ff416c);
      background-repeat: no-repeat;
      background-size: cover;
      background-position: 0 0;
      color: #ffffff;
      position: relative;
      left: -100%;
      height: 100%;
      width: 200%;
      transform: translateX(0);
      transition: transform 0.6s ease-in-out;
    }

    .overlay_panel {
      position: absolute;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      text-align: center;
      top: 0;
      height: 100%;
      width: 50%;
      transform: translateX(0);
      transition: transform 0.6s ease-in-out;

      h1 {
        color: white;
        text-align: center;
      }
    }

    .overlay_left {
      transform: translateX(-20%);
    }

    .overlay_right {
      right: 0;
      transform: translateX(0);
    }

    .social_container {
      margin: 10px 0;
    }

    .social_container a {
      border: 1px solid #dddddd;
      border-radius: 50%;
      display: inline-flex;
      justify-content: center;
      align-items: center;
      margin: 0 5px;
      height: 40px;
      width: 40px;
    }
  }
}

.error__form {
  font-size: 15px;
  color: red;
}

.input-space-company-name {
  width: 200px;
}

.btn-submit-register {
  margin-top: 20px;
}

.title-register {
  margin-top: 20px;
}

.btn-login-form {
  margin-top: 20px;
}

.user_info_email {
  margin: 5px 0;
}

.user_info_password {
  margin-bottom: 20px;
}

.error__form_warning {
  color: #ff416c;
  margin-bottom: 20px;
}

.model_popup_success {
  width: 390px;
  background-color: #fff;
}

.model_popup_success_content {
  padding: 10px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-top: 60px;
  font-size: 18px;
}

.model_popup_success_content_ha {
  padding: 10px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-top: 0px;
  font-size: 18px;
}

.model_popup_success_bottom_center {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 20px 0;
}

.model_popup_success_bottom_center button {
  width: 150px;
  height: 45px;
  border: none;
  background: linear-gradient(45deg, #b74d4e, #b73232);
  border-radius: 20px;
  color: #fff;
  font-size: 16px;
  font-weight: 700;
  box-shadow: rgba(136, 165, 191, 0.48) 0px 2px 4px 0px,
    rgba(136, 165, 191, 0.48) 0px 2px 16px 0px;
}

.error_email_content {
  color: #ff416c;
  font-size: 14px;
  margin: 5px 0;
}