.page-list-contact {
  width: 100%;
  display: flex;
  justify-content: center;
  background-color: #f0f2f5;
}

.list-contact-container {
  width: 90%;
  min-height: 680px;
  margin: 20px 0;
}

.list-contact-container-left {
  height: 100%;
  background-color: #fff;
  border: 0.3px solid #e9e8e8;
  border-radius: 10px;
}

.list-contact-container-left-menu {
  border-radius: 10px;
  padding: 8px 15px;
  cursor: pointer;
}
.list-contact-container-left-menu span {
  margin: 20px 0;
  display: block;
  text-align: center;
  font-size: 16px;
  font-weight: 500;
  padding: 6px 0;
  letter-spacing: 0.5px;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px,
    rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
}
.list-contact-container-left-menu span:hover {
  background-color: #eeeded;
}

.table-column {
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  font-size: 15px;
  display: -webkit-box;
  margin-bottom: 10px;
  max-width: 100%;
  height: 85px;
  overflow: hidden;
  text-overflow: ellipsis;
  line-height: 1.5;
}

.item-center {
  display: flex;
  text-align: center;
  justify-content: center;
}

.list-contact-container-right {
  background-color: #fff;
  margin: 0 10px;
  border: 0.3px solid #e9e8e8;
  border-radius: 10px;
}

.table__body {
  background-color: hsla(0, 0%, 100%, 0.733);
  margin: 0.8rem auto;
  max-height: calc(99% - 20px);
  overflow: overlay;
  width: 98%;
}

.table__body::-webkit-scrollbar {
  width: 0.5rem;
  height: 0.5rem;
}

.table__body::-webkit-scrollbar-thumb {
  border-radius: 0.5rem;
  background-color: #0004;
  visibility: hidden;
}

.table__body:hover::-webkit-scrollbar-thumb {
  visibility: visible;
}

.mail__title--active {
  background-color: #6fcaea;
  border: none;
  color: #fff;
}

table {
  border-color: #dee2e6;
  color: #212529;
  margin-bottom: 1rem;
  vertical-align: top;
  width: 100%;
}

td img {
  width: 36px;
  height: 36px;
  margin-right: 0.5rem;
  vertical-align: middle;
}

table,
th,
td {
  border-collapse: collapse;
  padding: 1rem;
  text-align: left;
  cursor: default;
}

thead th {
  background-color: #fff;
  color: #706f6f;
  font-size: 16px;
  font-weight: 400;
  left: 0;
  padding: 10px;
  position: -webkit-sticky;
  position: sticky;
  text-transform: capitalize;
  top: 0;
}

tbody tr:nth-child(even) {
  background-color: #0000000b;
}

tbody tr {
  --delay: 0.1s;
  transition: 0.5s ease-in-out var(--delay), background-color 0s;
  color: #0e0505;
  cursor: pointer;
  font-size: 15px;
  font-weight: 400;
}

tbody tr.hide {
  opacity: 0;
  transform: translateX(100%);
}

tbody tr:hover {
  background-color: #fff6 !important;
}

tbody tr td,
tbody tr td p,
tbody tr td img {
  transition: 0.2s ease-in-out;
}

tbody tr.hide td,
tbody tr.hide td p {
  padding: 0;
  font: 0 / 0 sans-serif;
  transition: 0.2s ease-in-out 0.5s;
}

tbody tr.hide td img {
  width: 0;
  height: 0;
  transition: 0.2s ease-in-out 0.5s;
}

.status {
  padding: 0.4rem 0;
  border-radius: 2rem;
  text-align: center;
}

.status.delivered {
  background-color: #86e49d;
  color: #006b21;
}

.status.cancelled {
  background-color: #d893a3;
  color: #b30021;
}

.status.pending {
  background-color: #ebc474;
}

.status.shipped {
  background-color: #6fcaea;
}

@media (max-width: 1000px) {
  td:not(:first-of-type) {
    min-width: 12.1rem;
  }
}

.btn-table-sendmail {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn-table-sendmail button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
  font-size: 20px;
  outline: none;
  background: #fff;
  border-radius: 60%;
  border: none;
}
.btn-table-sendmail button:hover {
  background: #cdcecd;
  color: #fff;
  border-radius: 10px;
}

thead th.active span.icon-arrow {
  background-color: #6c00bd;
  color: #fff;
}

thead th.asc span.icon-arrow {
  transform: rotate(180deg);
}

thead th.active,
tbody td.active {
  color: #6c00bd;
}

.export__file {
  position: relative;
}

.export__file .export__file-btn {
  display: inline-block;
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  transition: 0.2s ease-in-out;
}

.export__file .export__file-btn:hover {
  background-color: #fff;
  transform: scale(1.15);
  cursor: pointer;
}

.export__file input {
  display: none;
}

.export__file .export__file-options {
  position: absolute;
  right: 0;

  width: 12rem;
  border-radius: 0.5rem;
  overflow: hidden;
  text-align: center;

  opacity: 0;
  transform: scale(0.8);
  transform-origin: top right;

  box-shadow: 0 0.2rem 0.5rem #0004;

  transition: 0.2s;
}

.export__file input:checked + .export__file-options {
  opacity: 1;
  transform: scale(1);
  z-index: 100;
}

.export__file .export__file-options label {
  display: block;
  width: 100%;
  padding: 0.6rem 0;
  background-color: #f2f2f2;

  display: flex;
  justify-content: space-around;
  align-items: center;

  transition: 0.2s ease-in-out;
}

.export__file .export__file-options label:first-of-type {
  padding: 1rem 0;
  background-color: #86e49d !important;
}

.export__file .export__file-options label:hover {
  transform: scale(1.05);
  background-color: #fff;
  cursor: pointer;
}

.export__file .export__file-options img {
  width: 2rem;
  height: auto;
}

.model-contact-image {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: #00ffec;
}
.model-contact-image img {
  padding: 10px;
}

.model-contact-content {
  margin: 10px;
}

.model-contact-show {
  max-width: 1000px;
}

.model-contact-show-mail-expert {
  max-width: 800px;
}

.btn-click-profile {
  width: 100%;
  margin: 30px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.btn-click-profile a {
  background-color: #174eda;
  padding: 8px 30px;
  color: #fff;
  border-radius: 5px;
}
.btn-click-profile a:hover {
  background-color: #8ea8ea;
}

.list-contact-container-title {
  width: 100%;
  margin: 20px 30px;
}
.list-contact-container-title h3 {
  font-size: 28px;
  font-weight: 700;
  color: #0e61ef;
}

.tabs {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  width: 35%;
}

.tabs h3 {
  background-color: #fff;
  border: 1px solid #e2e2e2;
  cursor: pointer;
  font-size: 16px;
  margin: 10px;
  padding: 10px 0;
  text-align: center;
}

.model-contact-content-column span {
  display: block;
  margin: 8px 0;
}
