.aboutus {
  &__wrapper {
    margin-top: 50px;
    padding: 0 20px;
    p {
      margin: 0;
      line-height: 2;
    }
  }

  &__title {
    h1 {
      font-size: 1.875rem;
      color: #575656;
      line-height: 1;
      text-align: center;
      text-transform: uppercase;
      font-weight: 700;
      margin-bottom: 40px;
    }
  }

  &__section {
    display: flex;
    max-width: 1400px;
    margin: 30px auto 0;
  }

  &__content {
    width: 100%;
    h2 {
      font-weight: 700;
      margin-bottom: 30px;
      font-size: 1rem;
      color: #40b1f7;
    }

    h3 {
      text-align: center;
      font-weight: 600;
      font-size: 1rem;
    }

    img {
      width: 100%;
      object-fit: contain;
    }

    &--company {
      margin-bottom: 20px;
      border-radius: 4px;
      background-color: #f1e7d3;
      > img {
        width: 500px;
		height: 100%;
        padding: 10px 0;
        background-color: #f1e7d3;
      }
    }

    &--item {
      &-title {
        font-weight: 600;
        font-size: 1rem;
      }
      &-des {
        text-align: center;
        p {
          margin: 4px 10px;
        }
        img {
          width: 50px !important;
          border-radius: 50%;
          object-fit: contain;
        }
      }
      hr {
        width: 100%;
		border: 0;
		border-top: 1px solid;
		color: inherit;
		margin: 1rem 0;
		opacity: .25;
      }
    }
  }
}

@media (max-width: 500px) {
  .aboutus__content--company > img {
    width: 100%;
  }
}
