.container {
  padding: 20px 100px;
}

@media (max-width: 1024px) {
  .container {
    padding: 20px 100px !important;
  }
}

@media (max-width: 768px) {
  .container {
    padding: 20px 60px !important;
  }
}

@media (max-width: 426px) {
  .container {
    padding: 10px 20px !important;
  }
}
